<ion-header [translucent]="true">

</ion-header>

<ion-content [fullscreen]="true">
    <div class="spinner" *ngIf="loader">
        <ion-spinner style="font-size: 5vw;"></ion-spinner>
    </div>
    <div>
        <ion-item lines = "none" *ngIf="errorMessage?.length" color="danger">{{errorMessage}}</ion-item>
    </div>
    <div *ngIf="(!foundText || !result?.length) && !loader" style="width: 50%; height: 100%; margin: auto">
        <ion-button fill="clear" color="success" style="width: 100%; height: 30%;" (click)="takePicture()"><ion-icon name="camera" style="font-size: 100px;"></ion-icon></ion-button>
        <ion-button fill="clear" color="success" style="width: 100%; height: 30%;" (click)="picker()"><ion-icon name="albums" style="font-size: 100px;"></ion-icon></ion-button>
    </div>
  <div *ngIf="(foundText && result?.length) && !loader" style="width: 80%; margin: auto">
      <ion-item *ngFor="let word of result">
          <p>{{word}}</p>
      </ion-item>
      <ion-button fill="clear" color="success" style="width: 100%; height: 30%; font-size: 8vw;" (click)="return()">Return</ion-button>
  </div>
</ion-content>
